// ------------------------------------------- main theme
html,body {
	font-family: 'Fira-Regular',sans-serif;
}
.link-bla-blu {
	color: $black;
	line-height: 1.5em;
	&:hover {
		color: $blue;
	}
}
button {
	cursor: pointer;
}
// ------------------------ navbar
#main-navbar {
	@include transition(0.5);
}
.navbar-scroll {
	@include box-shadow();
	background-color: $blue;
	.nav-link {
		&:before {
			background-color: $yellow;
		}
	}
}
.navbar-brand {
	span {
		color: $white;
		font-family: 'Montserrat-Bold', sans-serif;
		text-transform: uppercase;
	}
}
.nav-item {
		font-family: 'Montserrat-Bold', sans-serif;
}
.nav-link {
	@include transition(0.3);
	margin-right: 5px;
	margin-top: -3px;
	position: relative;

	&:before {
		@include transition(0.3);
		content: '';
		background-color: $white;
		height: 0px;
		position: absolute;
		width: 100%;
	}

	&:before {
		top: 35px;
		left: 0;
	}

	&:hover {
		&:before {
			@include transition(0.3);
			height: 3px;
		}
	}
}
.hr-spec {
	@include transition(0.3);
  width: 45px;
  margin-left: 0;
  border: 2px solid $yellow;
}
.nav-pills {
	li {
		font-family: 'Fira-Bold',sans-serif;
		text-align: center;
		a {
			color: $light-gray;
			&:hover {
				color: $gray;
			}
		}
		&>a[aria-expanded="true"] {
			color: $flat-black;
			&:before {
				border: 1px solid $yellow;
			}
		}
		&.active {
			a {
				color: $flat-black;
				&:before {
					border: 1px solid $yellow;
				}
			}
		}
	}
}
.tab-content {
	h4 {
		color: $yellow;
		font-family: 'Fira-Bold',sans-serif;
		text-align: center;
	}
}
.bg-ye {
	background-color: $yellow !important;
}
.bg-bl {
	background-color: $blue !important;
}
// ----------------------------- hero-section
#hero-section {
	background-attachment: fixed;
	background-color: $yellow;
	background-image: url('../img/travel.png');
	background-position:  bottom;
	background-repeat: no-repeat;
	background-size: contain;

	.left {
		background-color: $blue;
		color: $white;
		&>h1 {
			font-size: 2.5em;
			letter-spacing: 0.05em;
			position: relative;

			&:before {
				content: '';
				background-color: $yellow;
				height: 2px;
				left: 0;
				position: absolute;
				top: -20px;
				width: 60px;
			}
		}
	}
}
.text-hr {
	position: relative;

	&:before,&:after {
		content: '';
		background-color: $gray;
		height: 1px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 5px;
	}

	&:before {
		left: -10px;
	}
	&:after {
		right: -10px;
	}
}
// ------------------------------- events
#events,#timeline,#news,#gallery,#about,#sponsors,#contact,#hero-section.hero-not-home {
	h1 {
		color: $yellow;
		font-family: 'Fira-Black', sans-serif;
	}
	p.smaller {
		color: gray;
		font-size: 0.7em;
	}
}
.event-container {
	h3 {
		color: $yellow;
		font-family: 'Fira-Black', sans-serif;
		text-transform: lowercase;
	}
}
#events {
	.col-item {
		cursor: pointer;
		h3 {
			color: $gray;
		}
		h3,.a-col-item {
			@include transition(0.3);
		}
		&:hover {
			.hr-spec {
				border: 1px solid $gray;
				margin-bottom: 18px;
			  width: 100%;
			}
			h3 {
				color: $flat-black;
			}
			.a-col-item {
				font-weight: bold;
			}
		}
		.a-col-item:hover {
			text-decoration: underline;
		}
	}
}
#events{
	a {
		color: $yellow;
	}
}
#events,#news {
	.col-item {
		h3 {
			font-family: 'Fira-Black', sans-serif;
			font-size: 1.5rem;
		}
		a {
			font-size: 0.9em;
		}
	}
}
// ------------------------- timeline
.timeline {
	.timeline-item {

		.icon {
			color: $white;
			position: relative;
			text-align: center;

			&:before {
				@include radius(100%);
				content: '';
				background-color: $yellow;
				left: 50%;
		    height: 40px;
		    position: absolute;
		    top: -7px;
		    transform: translateX(-50%);
		    width: 40px;
		    z-index: -1;
			}
		}
		.text {
			h5 {
				font-family: 'Fira-Bold',sans-serif;
				font-size: 1.2em;
			}
		}
	}
}
// ----------------------------------- gallery
#gallery {
	a {
		.figcaption {
			overflow: hidden;
			&:before {
				@include transition(0.25);
				content: '';
				border: 1px solid $white;
				height: 90%;
				width: 90%;
				transform: scale(1.4);
				z-index: 30;
			}
			.overlay {
				@include transition(0.2);
				@include overlay($flat-black,0);
				z-index: 29;
			}
			i {
				@include transition(0.4);
				color: $white;
				opacity: 0;
				z-index: 31;
			}
		}
		&:hover {
			.figcaption {
				&:before {
					transform: none;
				}
			}
			.overlay {
				@include overlay($flat-black,0.7);
			}
			i {
				opacity: 1;
			}
		}
	}
}
// ------------------------- mini-section
.mini-section {
	position: relative;
	.overlay {
		@include overlay($flat-black,0.7);
	}
	h1 {
		color: $white;
		font-family: 'Fira-Black', sans-serif;
	}
}
.testi,.regist {
	@include img-bg();
	background-attachment: fixed;
	color: $white;
}
.testi {

	.testi-content {
		font-family: 'Fira-Light',sans-serif;
		section {
			&:before {
				content: '';
				background-image: url(../img/quote.png);
			}
		}
	}
}
#about {
	img {
		@include img-bg();
		@include radius(100%);
	}
	.about-text {
		text-align: center;
	}
}
.map {
	background-color: $gray;
}
footer {
	background-color: $blue;
	ul {
		a {
			color: $white;
		}
	}
}
#sponsors {
	img {
		@include transition(0.35);
		filter: grayscale(1);
		&:hover {
			filter: grayscale(0);
		}
	}
}
a>.fa-facebook-square:hover {
  color: #3b5999;
}
a>.fa-instagram:hover {
  color: #fb3958;
}
a>.fa-twitter:hover {
  color: #2ac6f7;
}
// ----------------------------- other page layout
#hero-section.hero-not-home {
	text-align: center;
	h1,p.smaller {
		color: $white;
	}
	p.smaller {
		font-size: 0.8em;
	}
}
// ----------------------------- error Page
#error-body {
	background-color: $yellow;
}
.red {
	color: $red;
}
// ----------------------------- dashboard
.report {
	.bigbox {
		color: $white;
	}
	.col-md-3:nth-child(1) {
		.bigbox {
			background-color: $green !important;
		}
	}
	.col-md-3:nth-child(2) {
		.bigbox {
			background-color: $blue !important;
		}
	}
	.col-md-3:nth-child(3) {
		.bigbox {
			background-color: $red !important;
		}
	}
	.col-md-3:nth-child(4) {
		.bigbox {
			background-color: $yellow !important;
		}
	}
}
