/*
	Project Name : Vocomfest 2018 - Main Web
	Author : Vocomfest 2018 Technical Support
	Date Created : 11 January 2018 13:47:33
	Copyright : 2018 (c) All Rights Reserved

	For Vocomfest 2018 only. Not for shared or published by others.
*/
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/Montserrat-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/Montserrat-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Fira-Black';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans-Black.woff") format("woff"), url("../fonts/FiraSans-Black.woff2") format("woff2"), url("../fonts/FiraSans-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'Fira-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans-Bold.woff2") format("woff2"), url("../fonts/FiraSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Fira-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Fira-Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans-Light.woff") format("woff"), url("../fonts/FiraSans-Light.woff2") format("woff2"), url("../fonts/FiraSans-Light.ttf") format("truetype"); }
.bla {
  color: #000; }

.bl {
  color: #304179; }

.gra {
  color: #95a5a6; }

.gre {
  color: #acca48; }

.wh {
  color: #fff; }

.ye {
  color: #f0be1c; }

.smaller {
  font-size: 0.8em; }

.normal {
  font-size: 1em; }

.baby-big {
  font-size: 1.2em; }

.big {
  font-size: 1.5em; }

.more-big {
  font-size: 2.5em; }

.bigger {
  font-size: 3em; }

.somewhat-bigger {
  font-size: 4.5em; }

.fr-lig {
  font-family: 'Fira-Light'; }

.fr-reg {
  font-family: 'Fira-Regular'; }

.fr-bold {
  font-family: 'Fira-Bold'; }

.fr-bla {
  font-family: 'Fira-black'; }

.mt-reg {
  font-family: 'Montserrat-Regular'; }

.mt-bold {
  font-family: 'Montserrat-Bold'; }

.mg-5 {
  margin: 5px; }

.mg-bt-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.mg-lr-5 {
  margin-left: 5px;
  margin-right: 5px; }

.mg-t-5 {
  margin-top: 5px; }

.mg-b-5 {
  margin-bottom: 5px; }

.mg-l-5 {
  margin-left: 5px; }

.mg-r-5 {
  margin-right: 5px; }

.mg-10 {
  margin: 10px; }

.mg-bt-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mg-lr-10 {
  margin-left: 10px;
  margin-right: 10px; }

.mg-t-10 {
  margin-top: 10px; }

.mg-b-10 {
  margin-bottom: 10px; }

.mg-l-10 {
  margin-left: 10px; }

.mg-r-10 {
  margin-right: 10px; }

.mg-15 {
  margin: 15px; }

.mg-bt-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mg-lr-15 {
  margin-left: 15px;
  margin-right: 15px; }

.mg-t-15 {
  margin-top: 15px; }

.mg-b-15 {
  margin-bottom: 15px; }

.mg-l-15 {
  margin-left: 15px; }

.mg-r-15 {
  margin-right: 15px; }

.mg-20 {
  margin: 20px; }

.mg-bt-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.mg-lr-20 {
  margin-left: 20px;
  margin-right: 20px; }

.mg-t-20 {
  margin-top: 20px; }

.mg-b-20 {
  margin-bottom: 20px; }

.mg-l-20 {
  margin-left: 20px; }

.mg-r-20 {
  margin-right: 20px; }

.mg-25 {
  margin: 25px; }

.mg-bt-25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.mg-lr-25 {
  margin-left: 25px;
  margin-right: 25px; }

.mg-t-25 {
  margin-top: 25px; }

.mg-b-25 {
  margin-bottom: 25px; }

.mg-l-25 {
  margin-left: 25px; }

.mg-r-25 {
  margin-right: 25px; }

.mg-30 {
  margin: 30px; }

.mg-bt-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.mg-lr-30 {
  margin-left: 30px;
  margin-right: 30px; }

.mg-t-30 {
  margin-top: 30px; }

.mg-b-30 {
  margin-bottom: 30px; }

.mg-l-30 {
  margin-left: 30px; }

.mg-r-30 {
  margin-right: 30px; }

.pd-5 {
  padding: 5px; }

.pd-bt-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.pd-lr-5 {
  padding-left: 5px;
  padding-right: 5px; }

.pd-t-5 {
  padding-top: 5px; }

.pd-b-5 {
  padding-bottom: 5px; }

.pd-l-5 {
  padding-left: 5px; }

.pd-r-5 {
  padding-right: 5px; }

.pd-10 {
  padding: 10px; }

.pd-bt-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pd-lr-10 {
  padding-left: 10px;
  padding-right: 10px; }

.pd-t-10 {
  padding-top: 10px; }

.pd-b-10 {
  padding-bottom: 10px; }

.pd-l-10 {
  padding-left: 10px; }

.pd-r-10 {
  padding-right: 10px; }

.pd-15 {
  padding: 15px; }

.pd-bt-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.pd-lr-15 {
  padding-left: 15px;
  padding-right: 15px; }

.pd-t-15 {
  padding-top: 15px; }

.pd-b-15 {
  padding-bottom: 15px; }

.pd-l-15 {
  padding-left: 15px; }

.pd-r-15 {
  padding-right: 15px; }

.pd-20 {
  padding: 20px; }

.pd-bt-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.pd-lr-20 {
  padding-left: 20px;
  padding-right: 20px; }

.pd-t-20 {
  padding-top: 20px; }

.pd-b-20 {
  padding-bottom: 20px; }

.pd-l-20 {
  padding-left: 20px; }

.pd-r-20 {
  padding-right: 20px; }

.pd-25 {
  padding: 25px; }

.pd-bt-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.pd-lr-25 {
  padding-left: 25px;
  padding-right: 25px; }

.pd-t-25 {
  padding-top: 25px; }

.pd-b-25 {
  padding-bottom: 25px; }

.pd-l-25 {
  padding-left: 25px; }

.pd-r-25 {
  padding-right: 25px; }

.pd-30 {
  padding: 30px; }

.pd-bt-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.pd-lr-30 {
  padding-left: 30px;
  padding-right: 30px; }

.pd-t-30 {
  padding-top: 30px; }

.pd-b-30 {
  padding-bottom: 30px; }

.pd-l-30 {
  padding-left: 30px; }

.pd-r-30 {
  padding-right: 30px; }

.mg-center {
  margin: 0 auto; }

body {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

ul.circle > li {
  list-style-type: circle; }

ol.decimal > li {
  list-style-type: decimal; }

figure {
  margin: 0;
  position: relative; }
  figure img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; }

a {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }
  a:hover, a:active {
    text-decoration: none; }

.small {
  font-size: 90%; }

.baby-small {
  font-size: 80%; }

.row {
  width: 100%; }

.navbar-dark .navbar-toggler, .navbar-toggler:focus, .navbar-toggler:hover {
  border-color: transparent; }

.modal-content {
  padding: 10px 20px; }

.input-group-addon, .form-control {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px; }

.form-inline {
  justify-content: flex-end; }

.table td, .table th {
  vertical-align: middle; }

.alert p:last-child {
  margin-bottom: 0; }

button, input, optgroup, select, textarea {
  font-family: 'Fira-Regular',sans-serif; }

#main-navbar {
  padding-top: 15px; }
  #main-navbar.navbar-scroll {
    padding-top: 8px; }

.navbar-brand {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .navbar-brand img {
    margin-right: 15px;
    width: 30px; }

.navbar-collapse {
  justify-content: flex-end; }

.nav-pills {
  justify-content: center;
  margin-top: 30px; }
  .nav-pills li {
    padding: 20px 35px;
    position: relative; }
    .nav-pills li a:before {
      content: '';
      border: 1px solid #d8dcdc;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }

.tab-content {
  margin-top: 20px; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.flex-inline-center {
  align-items: center; }

.flex-center {
  align-items: center;
  justify-content: center; }
  
.just-center {
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0 0;
  width: 95%; }
  .grid-container div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .grid-container div:nth-child(3) {
      grid-column: 1/3; }
    .grid-container div.tall {
      grid-row: 1/3;
      grid-column: 3/4; }
    .grid-container div:nth-child(6) {
      grid-row: 1/3;
      grid-column: 3/5; }

#gallery .figcaption {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative; }
  #gallery .figcaption i {
    position: absolute; }

.w-200 {
  width: 200px; }

.link-bottom {
  padding: 40px 20px 0; }

#hero-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  #hero-section .left, #hero-section .right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 40px; }
  #hero-section .left {
    align-items: flex-start;
    width: 40%; }
  #hero-section .right {
    align-items: center;
    width: 60%; }
    #hero-section .right img {
      width: 50%; }
    #hero-section .right span {
      margin-top: 15px; }

#events, #timeline, #news, #gallery, #about, #sponsors, #contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  padding-top: 75px; }
  #events h1, #timeline h1, #news h1, #gallery h1, #about h1, #sponsors h1, #contact h1 {
    margin: 0; }

#events .a-col-item {
  padding: 10px 0; }

#events, #news {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px; }
  #events .row, #news .row {
    margin-top: 30px; }
    #events .row .col-item, #news .row .col-item {
      padding: 20px 15px; }
      #events .row .col-item p, #news .row .col-item p {
        margin-top: 15px;
        margin-bottom: 12px; }
      #events .row .col-item p.spec, #news .row .col-item p.spec {
        margin-bottom: 5px; }
    #events .row figure, #news .row figure {
      padding-bottom: 5px; }
      #events .row figure > img, #news .row figure > img {
        background-size: contain; }

#news .row figure > img {
  background-size: cover; }

#timeline .content {
  width: 70%; }

.timeline {
  margin-top: 10px; }
  .timeline .timeline-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 20px 0 5px; }
    .timeline .timeline-item .date {
      flex: 3;
      text-align: right; }
    .timeline .timeline-item .icon {
      flex: 1; }
    .timeline .timeline-item .text {
      flex: 8; }
      .timeline .timeline-item .text p {
        margin-bottom: 0; }

.mini-section {
  height: 50vh;
  position: relative; }
  .mini-section .content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding: 30px; }
    .mini-section .content section, .mini-section .content h1, .mini-section .content p {
      text-align: center;
      z-index: 9; }
    .mini-section .content .testi-content {
      text-align: center; }
      .mini-section .content .testi-content div section {
        padding: 2em 5em 0 5em; }
  .mini-section.regist .content {
    height: 50vh;
    justify-content: center; }
    .mini-section.regist .content p {
      margin: 0 20em; }

.testi {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/testimonial.JPG");
  color: #fff; }

.regist {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/waitingfor.JPG");
  color: #fff; }

#gallery .link-bottom {
  padding-top: 10px;
  padding-bottom: 30px; }

#about img {
  margin: 20px 0;
  width: 250px; }
#about .about-text {
  margin: 20px auto;
  width: 65%; }

#sponsors img {
  background-size: contain; }

#contact {
  min-height: auto; }
  #contact .contact-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 55vh;
    margin-top: 50px;
    width: 100%; }
    #contact .contact-item .address {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 30%; }
      #contact .contact-item .address section p {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: baseline; }
        #contact .contact-item .address section p i {
          color: #f0be1c;
          text-align: center;
          width: 50px; }
    #contact .contact-item .map {
      width: 70%;
      position: relative; }
      #contact .contact-item .map iframe {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%; }

footer {
  padding: 20px; }
  footer ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center; }
    footer ul li {
      margin: 0 7px; }

.embed .pd-20 {
  position: relative; }
.embed img {
  width: 100%; }
.embed iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

#hero-section.hero-not-home {
  align-items: center;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  height: 50vh; }
  #hero-section.hero-not-home h1 {
    margin: 0.2em 0; }

.center-section {
  margin: 0 auto;
  width: 65%; }

#error-body {
  padding: 30px;
  width: 100%;
  height: auto; }
  #error-body #vocom-logo {
    width: 100%; }
  #error-body #error-img {
    width: 75%;
    margin: auto;
    display: block; }
  #error-body p {
    margin-bottom: 50px; }
    #error-body p span {
      font-weight: bold; }
  #error-body a.error-btn {
    background-color: #304179;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    border: 2px solid #304179;
    transition: 0.3s; }
    #error-body a.error-btn:hover {
      background-color: #fff;
      color: #304179;
      transition: 0.3s; }

#error-footer {
  background-color: #304179; }
  #error-footer p {
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 0.8em;
    margin: 0; }

.center {
  margin: 0 auto; }

#register {
  background-color: #304179;
  padding: 30px;
  color: #304179 !important; }
  #register .regist-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular',sans-serif;
    background-color: #fff;
    color: #304179;
    margin-top: 48px;
    padding: 10px 0;
    width: 70%;
    border-radius: 20px; }
    #register .regist-content #vocom-logo-color {
      width: 20%;
      display: block;
      margin: 10px auto; }
    #register .regist-content p.title {
      font-weight: bold;
      font-size: 1.5em;
      text-align: center;
      width: 100%;
      margin: 10px auto;
      margin-bottom: 0 !important; }
    #register .regist-content .container {
      max-width: 100% !important;
      margin: 0 !important; }
      #register .regist-content .container .row {
        margin: 0 !important; }
      #register .regist-content .container .form-regist .mg-t-10 {
        margin-top: 10px !important; }
      #register .regist-content .container .form-regist .nav-pills li {
        padding: 10px 25px !important; }
      #register .regist-content .container .form-regist .tab-content {
        margin-top: 10px; }
        #register .regist-content .container .form-regist .tab-content .little-small {
          font-size: 0.95em; }
        #register .regist-content .container .form-regist .tab-content input {
          margin: 0;
          padding: 0 5px;
          border: 0;
          border-bottom: 1px solid #304179;
          width: 95%; }
          #register .regist-content .container .form-regist .tab-content input:focus {
            outline: none;
            border-width: 2px; }
        #register .regist-content .container .form-regist .tab-content select {
          width: 95%; }
      #register .regist-content .container .form-regist .phone-num input {
        width: 80%; }
      #register .regist-content .container .form-regist .row {
        margin: 0; }
        #register .regist-content .container .form-regist .row span {
          font-weight: bold;
          padding: 0 15px; }
      #register .regist-content .container .form-regist .mid {
        padding: 0 auto !important; }
      #register .regist-content .container .form-regist .regist-btn {
        padding: 5px !important;
        margin: 0 auto !important;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.5em;
        color: #304179;
        background-color: inherit;
        border: 2px solid #304179 !important;
        border-radius: 5px;
        transition: 0.3s; }
        #register .regist-content .container .form-regist .regist-btn:hover {
          background-color: #304179;
          color: #fff;
          transition: 0.3s ease-in-out; }
      #register .regist-content .container .form-regist .log-here {
        text-align: center !important;
        margin: 0; }
        #register .regist-content .container .form-regist .log-here span {
          font-weight: bold !important; }
        #register .regist-content .container .form-regist .log-here a {
          color: inherit; }
          #register .regist-content .container .form-regist .log-here a:hover {
            color: #f0be1c;
            transition: 0.3s ease-in-out; }
  #register .mg-pd-0 {
    margin: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important; }
  #register .desc-form {
    background-color: #f0be1c;
    color: #304179;
    position: fixed;
    right: 0;
    width: 30%;
    top: 48px;
    min-height: 100%;
    padding: 25px 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%); }
    #register .desc-form .desc-logo {
      width: 50%;
      margin: 0 auto;
      display: block; }
    #register .desc-form #desc-madc .desc-logo {
      width: 40%;
      margin: 0 auto;
      display: block; }
    #register .desc-form p {
      font-family: 'Montserrat-Regular',sans-serif;
      line-height: 1.5em;
      direction: rtl;
      padding: 25px 25px 25px 50px; }
    #register .desc-form span {
      font-weight: bold;
      font-size: 2em;
      line-height: 1.1em;
      text-align: right !important; }

/*-------Login page-------*/
.wrapLogin {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #4c5d9a; }

#login .container {
  margin-top: 80px;
  padding: 0;
  height: 500px;
  background-color: #253A78;
  border-radius: 20px;
  overflow: hidden; }

#login .col-md-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background-color: #253A78; }

#login .col-lg-8 {
  background-color: #f0be1c;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%); }

#login .logo-atas {
  width: 100%;
  float: left;
  margin-bottom: 30px; }

#login .logo-atas img {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px; }

#login .logo-atas span img {
  display: none; }

#login .logo-coming {
  width: 230px;
  height: 110px;
  margin: auto;
  margin-top: 10px; }

#login .col-md-4 img {
  max-width: 100%; }

#login .text-login {
  margin-top: 30px;
  margin-left: 20px; }

#login .text-login h3 {
  color: #f0be1c; }

#login .text-login p {
  color: #dce1ea; }

.form-login {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 390px;
  height: 440px;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 10px;
  overflow: hidden; }
  .form-login .form-inline {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; }

.form-login .row {
  width: 70%;
  margin: auto;
  margin-top: 15px;
  max-height: 100px; }

.form-login .row img {
  width: 80%;
  margin: auto; }

.form-login .row h4 {
  margin-left: 20px;
  color: #f0be1c; }

#login .form-control {
  display: inline-block;
  width: 60%;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid grey;
  margin: 0 auto; }

#login .form-group {
  width: 100%;
  padding: 5px 25px; }

#login .form-group label {
  padding: 0 5px; }

#login .form-group label span {
  padding-left: 40px; }

#login input:focus {
  border-bottom: 2px solid #FEBA33; }

#login .checkbox label {
  margin: 5px 130px; }

#login .checkbox label input {
  margin-right: 10px; }

#login .forgot {
  width: 70%;
  margin: auto;
  margin-top: 5px; }

.forgot a {
  color: #5870BA; }

.forgot p {
  padding-left: 20px;
  margin-bottom: 2px; }

#login a:hover {
  color: #FEBA33;
  cursor: pointer; }

#login .regis {
  width: 70%;
  margin: auto; }

.regis a {
  color: #5870BA; }

#login a:hover {
  color: #FEBA33;
  cursor: pointer; }

/*End of login page*/
/*--------Dashboard--------*/
.progress-step > h1 {
  position: relative; }
  .progress-step > h1 span {
    position: absolute;
    top: 0;
    left: 30px; }

#dashboard div#header {
  width: 100%;
  color: white;
  border-bottom: 2px solid #E2BF3D;
  background-color: #36373B;
  margin: 0 auto; }

#header {
  padding: 10px 0px; }
  #header .navbar-expand-lg {
    justify-content: space-between; }

.logo {
  float: left;
  max-width: 200px;
  margin: 0 auto; }

.logo a img {
  margin-top: 20px;
  margin-left: 20px;
  width: 200px; }

.profil-db {
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #ccc;
  margin: 20px auto; }

.profil-title {
  color: #ccc; }

ul#nav {
  margin-top: 30px; }

ul#nav li a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

ul#nav li a span {
  padding-left: 25px;
  display: inline-block; }

ul#nav li a i {
  width: 5px; }

ul#nav li a:hover, ul#nav li a.active {
  color: #FEBA33; }

#dashboard .container-fluid .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px; }

#dashboard .row.content {
  background-color: #111111;
  margin-top: 0px;
  min-height: 600px;
  height: auto;
  width: 100%; }

#dashboard .container-fluid {
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: auto; }

.box-db {
  background-color: #EBEBEB;
  margin: 0;
  padding-bottom: 20px; }

#dashboard .sidenav {
  height: 100%;
  background-color: #111111; }

#dashboard .container-fluid .bigbox {
  overflow: hidden;
  margin-top: 30px;
  background-color: #fff;
  width: 100%; }

#dashboard .smallBox {
  max-width: 30%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #fff; }

#dashboard .col-sm-10 {
  margin: 0px;
  padding-right: 40px; }

.title-db {
  color: #EEBD22;
  padding-top: 10px; }

div h2.title-db {
  padding-top: 5px;
  font-size: 2.5em; }

.title-event-db {
  color: #EEBD22;
  padding-top: 15px; }

.event-db {
  color: #111111; }

.news-db {
  padding-top: 5px;
  padding-bottom: 5px; }

#dashboard .col-sm-12 p {
  margin-top: 0px;
  margin-bottom: 5px; }

.btn-out {
  float: right;
  margin-top: 25px;
  margin-right: 30px; }

/*End of dashboard*/
#member-page .border {
  border: none !important; }
#member-page .member-sq {
  border: 1px solid #d8dcdc; }
  #member-page .member-sq .photo {
    border-radius: 50%;
    width: 100%;
    margin: 15px 0; }
  #member-page .member-sq p {
    text-align: center;
    margin: 0; }
    #member-page .member-sq p span {
      font-weight: bold; }
  #member-page .member-sq .status {
    color: #f0be1c; }
  #member-page .member-sq .mg-bt-15 {
    margin-bottom: 15px !important; }
  #member-page .member-sq .no-border {
    border: none !important; }
  #member-page .member-sq .new-memb {
    text-align: center;
    font-size: 2em;
    color: #fff; }
#member-page .btn-circle {
  border: none;
  margin-top: 50px;
  border-radius: 100% !important;
  width: 70px;
  height: 70px;
  background-color: #f0be1c; }
  #member-page .btn-circle:hover {
    background-color: #f3cb5a; }

.mg-t-0 {
  margin-top: 0; }

#add-news .title-event-db, #edit-news .title-event-db, #news-list .title-event-db {
  text-align: left;
  margin: 10px 0;
  padding: 0; }
#add-news h2, #edit-news h2, #news-list h2 {
  font-size: 1.5em !important; }
#add-news .btn-ye, #edit-news .btn-ye, #news-list .btn-ye {
  background-color: #f0be1c; }
#add-news .btn-le, #edit-news .btn-le, #news-list .btn-le {
  cursor: pointer;
  margin: 10px 5px 10px 0;
  float: left !important; }
#add-news .btn-add, #edit-news .btn-add, #news-list .btn-add {
  float: left !important;
  margin: 5px 0; }
#add-news .form-inline, #edit-news .form-inline, #news-list .form-inline {
  justify-content: flex-end; }
#add-news .judul, #edit-news .judul, #news-list .judul {
  width: 40%; }
#add-news table span, #edit-news table span, #news-list table span {
  color: #95a5a6;
  font-style: italic; }

.mg-0 {
  margin: 0 !important; }

.mg-t-0 {
  margin-top: 0 !important; }

.mg-b-0 {
  margin-bottom: 0 !important; }

.mg-r-0 {
  margin-right: 0 !important; }

.mg-l-0 {
  margin-left: 0 !important; }

/*Detail Event*/
.event-top {
  background-color: #304179; }

#event-detail {
  max-height: 100vh;
  background-attachment: fixed;
  background-color: #F0BE1C;
  background-image: url("../img/travel.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain; }

#event-detail .left {
  color: #304179; }

#event-detail .left p {
  color: #000; }

#event-detail .left > h1 {
  font-size: 2.5em;
  letter-spacing: 0.05em;
  position: relative;
  margin-left: 50px;
  margin-top: -120px; }

#event-detail .left > h1:before {
  content: '';
  background-color: #f0be1c;
  height: 2px;
  left: 0;
  position: absolute;
  top: -20px;
  width: 60px; }

#event-detail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

#event-detail .left, #event-detail .right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 40px; }

#event-detail .left {
  align-items: flex-start;
  width: 40%; }

#event-detail .right {
  align-items: center;
  width: 60%; }

#event-detail .right .col-md-12 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

#event-detail .right img {
  width: 300px;
  margin: 20px 0px 0px 100px; }

#event-detail .right span {
  margin-top: 15px; }

.event-btn {
  background-color: #304179;
  color: #fff;
  border: 2px solid #304179;
  margin-left: 0px;
  float: left; }

.event-hide-one {
  width: 200px;
  display: none; }

.event-logo {
  max-width: 300px;
  margin-bottom: 50px; }

.event-pd {
  padding-left: 0px; }

.event-mg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px; }

.nav-event {
  margin-bottom: 50px; }

.event-contact h4 {
  margin-top: 20px;
  margin-bottom: 30px; }

.special {
  padding-left: 10px;
  border-left: 2px solid #304179; }

.event-container #one, .event-container #two, .event-container #three, .event-container #four, .event-container #five, .event-container #six {
  padding-top: 76px; }

#one h3.event-bold, #two h3.event-bold, #three h3.event-bold, #four h3.event-bold, #five h3.event-bold, #six h3.event-bold {
  font-size: 2em;
  font-weight: 600px; }

#one hr, #two hr, #three hr, #four hr, #five hr, #six hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #000;
  margin: 1em auto;
  padding: 0;
  width: 60px; }

.txt-algn-rght {
  text-align: right; }

.link-effect a {
  position: relative;
  display: inline-block;
  margin: 5px 5px;
  outline: none;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em; }

.cl-effect-14 a {
  padding: 0 20px;
  height: 45px;
  line-height: 45px; }

.cl-effect-14 a::before,
.cl-effect-14 a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background: #000;
  content: '';
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none; }

.cl-effect-14 a::before {
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0; }

.cl-effect-14 a::after {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
  opacity: 1; }

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
  left: 50%;
  -webkit-transform: rotate(0deg) translateX(-50%);
  -moz-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%); }

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
  right: 50%;
  -webkit-transform: rotate(0deg) translateX(50%);
  -moz-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%); }

/*End Detail Event*/
/*Admin dashboard gallery*/
.div-content-db {
  padding: 20px 30px;
  background-color: #fff;
  margin-top: 30px; }

.stat-gallery a {
  color: #4e69c1; }

.panel-default {
  border-color: #ddd; }

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd; }

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.panel-body {
  padding: 15px; }

.table-responsive {
  min-height: .01%;
  overflow-x: auto; }

.nopad {
  padding: 0px !important; }

.list-photo {
  border: 1px solid #ebeff0; }

.cover-img {
  width: 100%; }

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.nomag {
  margin: 0px !important; }

.gl-font {
  color: #f0be1c !important; }

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem; }

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd; }

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd; }

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd; }

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd; }

/*End Admin dashboard gallery*/
html, body {
  font-family: 'Fira-Regular',sans-serif; }

.link-bla-blu {
  color: #000;
  line-height: 1.5em; }
  .link-bla-blu:hover {
    color: #304179; }

button {
  cursor: pointer; }

#main-navbar {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

.navbar-scroll {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  background-color: #304179; }
  .navbar-scroll .nav-link:before {
    background-color: #f0be1c; }

.navbar-brand span {
  color: #fff;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase; }

.nav-item {
  font-family: 'Montserrat-Bold', sans-serif; }

.nav-link {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  margin-right: 5px;
  margin-top: -3px;
  position: relative; }
  .nav-link:before {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    content: '';
    background-color: #fff;
    height: 0px;
    position: absolute;
    width: 100%; }
  .nav-link:before {
    top: 35px;
    left: 0; }
  .nav-link:hover:before {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    height: 3px; }

.hr-spec {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  width: 45px;
  margin-left: 0;
  border: 2px solid #f0be1c; }

.nav-pills li {
  font-family: 'Fira-Bold',sans-serif;
  text-align: center; }
  .nav-pills li a {
    color: #d8dcdc; }
    .nav-pills li a:hover {
      color: #95a5a6; }
  .nav-pills li > a[aria-expanded="true"] {
    color: #222222; }
    .nav-pills li > a[aria-expanded="true"]:before {
      border: 1px solid #f0be1c; }
  .nav-pills li.active a {
    color: #222222; }
    .nav-pills li.active a:before {
      border: 1px solid #f0be1c; }

.tab-content h4 {
  color: #f0be1c;
  font-family: 'Fira-Bold',sans-serif;
  text-align: center; }

.bg-ye {
  background-color: #f0be1c !important; }

.bg-bl {
  background-color: #304179 !important; }

#hero-section {
  background-attachment: fixed;
  background-color: #f0be1c;
  background-image: url("../img/travel.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  #hero-section .left {
    background-color: #304179;
    color: #fff; }
    #hero-section .left > h1 {
      font-size: 2.5em;
      letter-spacing: 0.05em;
      position: relative; }
      #hero-section .left > h1:before {
        content: '';
        background-color: #f0be1c;
        height: 2px;
        left: 0;
        position: absolute;
        top: -20px;
        width: 60px; }

.text-hr {
  position: relative; }
  .text-hr:before, .text-hr:after {
    content: '';
    background-color: #95a5a6;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5px; }
  .text-hr:before {
    left: -10px; }
  .text-hr:after {
    right: -10px; }

#events h1, #timeline h1, #news h1, #gallery h1, #about h1, #sponsors h1, #contact h1, #hero-section.hero-not-home h1 {
  color: #f0be1c;
  font-family: 'Fira-Black', sans-serif; }
#events p.smaller, #timeline p.smaller, #news p.smaller, #gallery p.smaller, #about p.smaller, #sponsors p.smaller, #contact p.smaller, #hero-section.hero-not-home p.smaller {
  color: gray;
  font-size: 0.7em; }

.event-container h3 {
  color: #f0be1c;
  font-family: 'Fira-Black', sans-serif;
  text-transform: lowercase; }

#events .col-item {
  cursor: pointer; }
  #events .col-item h3 {
    color: #95a5a6; }
  #events .col-item h3, #events .col-item .a-col-item {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  #events .col-item:hover .hr-spec {
    border: 1px solid #95a5a6;
    margin-bottom: 18px;
    width: 100%; }
  #events .col-item:hover h3 {
    color: #222222; }
  #events .col-item:hover .a-col-item {
    font-weight: bold; }
  #events .col-item .a-col-item:hover {
    text-decoration: underline; }

#events a {
  color: #f0be1c; }

#events .col-item h3, #news .col-item h3 {
  font-family: 'Fira-Black', sans-serif;
  font-size: 1.5rem; }
#events .col-item a, #news .col-item a {
  font-size: 0.9em; }

.timeline .timeline-item .icon {
  color: #fff;
  position: relative;
  text-align: center; }
  .timeline .timeline-item .icon:before {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    content: '';
    background-color: #ffffff;
    left: 50%;
    height: 40px;
    position: absolute;
    top: -7px;
    transform: translateX(-50%);
    width: 40px;
    z-index: -1; }
.timeline .timeline-item .text h5 {
  font-family: 'Fira-Bold',sans-serif;
  font-size: 1.2em; }

#gallery a .figcaption {
  overflow: hidden; }
  #gallery a .figcaption:before {
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    content: '';
    border: 1px solid #fff;
    height: 90%;
    width: 90%;
    transform: scale(1.4);
    z-index: 30; }
  #gallery a .figcaption .overlay {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    background: #222222;
    opacity: 0;
    position: absolute;
    z-index: 29; }
  #gallery a .figcaption i {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    color: #fff;
    opacity: 0;
    z-index: 31; }
#gallery a:hover .figcaption:before {
  transform: none; }
#gallery a:hover .overlay {
  width: 100%;
  height: 100%;
  background: #222222;
  opacity: 0.7;
  position: absolute; }
#gallery a:hover i {
  opacity: 1; }

.mini-section {
  position: relative; }
  .mini-section .overlay {
    width: 100%;
    height: 100%;
    background: #222222;
    opacity: 0.7;
    position: absolute; }
  .mini-section h1 {
    color: #fff;
    font-family: 'Fira-Black', sans-serif; }

.testi, .regist {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff; }

.testi .testi-content {
  font-family: 'Fira-Light',sans-serif; }
  .testi .testi-content section:before {
    content: '';
    background-image: url(../img/quote.png); }

#about img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%; }
#about .about-text {
  text-align: center; }

.map {
  background-color: #95a5a6; }

footer {
  background-color: #304179; }
  footer ul a {
    color: #fff; }

#sponsors img {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  filter: grayscale(1); }
  #sponsors img:hover {
    filter: grayscale(0); }

a > .fa-facebook-square:hover {
  color: #3b5999; }

a > .fa-instagram:hover {
  color: #fb3958; }

a > .fa-twitter:hover {
  color: #2ac6f7; }

#hero-section.hero-not-home {
  text-align: center; }
  #hero-section.hero-not-home h1, #hero-section.hero-not-home p.smaller {
    color: #fff; }
  #hero-section.hero-not-home p.smaller {
    font-size: 0.8em; }

#error-body {
  background-color: #f0be1c; }

.red {
  color: #f09292; }

.report .bigbox {
  color: #fff; }
.report .col-md-3:nth-child(1) .bigbox {
  background-color: #acca48 !important; }
.report .col-md-3:nth-child(2) .bigbox {
  background-color: #304179 !important; }
.report .col-md-3:nth-child(3) .bigbox {
  background-color: #f09292 !important; }
.report .col-md-3:nth-child(4) .bigbox {
  background-color: #f0be1c !important; }

.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border: none;
  padding: .5rem 1.4rem; }

.btn-blue {
  background-color: #304179;
  border: transparent;
  color: #fff; }
  .btn-blue:active, .btn-blue:hover {
    background-color: #4e69c1;
    color: #fff; }

.btn-white-blue {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff; }
  .btn-white-blue:active, .btn-white-blue:hover {
    background-color: #fff;
    color: #304179; }

.btn-ye-full {
  background-color: transparent;
  border: 1px solid #f0be1c;
  color: #f0be1c; }
  .btn-ye-full:active, .btn-ye-full:hover {
    background-color: #f0be1c;
    color: #fff; }

.btn-ye-full-2 {
  background-color: #f0be1c;
  color: #fff;
  opacity: 0.9; }
  .btn-ye-full-2:active, .btn-ye-full-2:hover {
    color: #fff;
    opacity: 1; }

.btn-ye-full-3 {
  height: 30px;
  margin-top: -3px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #f0be1c;
  color: #fff;
  opacity: 0.9; }
  .btn-ye-full-3:active, .btn-ye-full-3:hover {
    color: #fff;
    opacity: 1; }

#login .form-login .btn {
  width: 120px;
  height: 40px;
  margin: 10px 140px;
  background-color: #253A78;
  border-radius: 5px;
  color: #fff; }

#login .btn:hover {
  background-color: #213368;
  cursor: pointer;
  color: #FEBA33; }

.btn-db {
  width: 120px;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #EEBD22;
  height: 35px;
  color: #fff; }

.event-btn {
  background-color: #304179;
  color: #fff;
  border: 2px solid #304179;
  margin-left: 0px;
  float: left; }

.btn-admin-gl {
  background-color: #36373B;
  border: transparent;
  color: #fff; }
  .btn-admin-gl:active, .btn-admin-gl:hover {
    background-color: #000;
    color: #fff; }

@media screen and (max-width: 1024px) {
  #hero-section .left {
    width: 35%; }
  #hero-section .right {
    width: 65%; }

  #events .row .col-item {
    padding: 20px 0px; }

  .timeline .timeline-item .date, .timeline .timeline-item .icon {
    flex: 2; }

  .mini-section .content {
    padding: 10px; }
    .mini-section .content h1 {
      margin-bottom: 0px; }
    .mini-section .content .testi-content div section {
      padding: 0.5em 5em 0 5em; }
      .mini-section .content .testi-content div section p:nth-child(2) {
        margin-bottom: 0px; }

  .link-bottom {
    padding: 10px 20px 0; }

  .mini-section.regist .content p {
    margin: 1em 5em 0; } }
@media screen and (max-width: 991px) {
  #main-navbar .navbar-nav {
    background-color: #304179;
    padding: 10px; }

  #main-navbar.navbar-scroll .navbar-nav {
    padding: 0px; }

  /*Detail event*/
  #event-detail {
    max-height: 90vh; }

  #event-detail .left, #event-detail .right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 40px; }

  #event-detail .left {
    align-items: flex-start;
    width: 50%; }

  #event-detail .right {
    align-items: center;
    width: 50%; }

  #event-detail .right img {
    width: 300px;
    margin: 20px 0px 0px 10px; }

  .event-mg {
    margin-left: 20px; }

  /*End of detail event*/ }
@media screen and (max-width: 769px) {
  #hero-section {
    flex-direction: column; }
    #hero-section .left, #hero-section .right {
      height: 50vh;
      width: 100%; }
    #hero-section .left {
      order: 2; }
    #hero-section .right {
      padding: 50px;
      order: 1; }
      #hero-section .right img {
        width: 220px; }

  .mini-section .content .testi-content div section {
    padding: 0.5em 1em 0 1em; }

  #events .row .col-item, #news .row .col-item {
    padding: 20px 10px; }

  #about .about-text {
    width: 75%; }

  #contact .contact-item {
    flex-direction: column; }
    #contact .contact-item .address {
      padding: 20px;
      width: 100%; }
    #contact .contact-item .map {
      height: 50vh;
      width: 100vw; }

  .center-section {
    width: 85%; }

  /*Mulai login*/
  #login .container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    max-width: 100%;
    height: auto;
    background-color: #f0be1c;
    border-radius: 0px;
    overflow: hidden; }

  #login .logo-atas {
    width: 100%;
    float: left;
    margin-bottom: 10px; }

  #login .logo-atas span img {
    display: inline-block;
    width: 180px;
    margin-top: 20px;
    float: right; }

  #login .col-md-4 {
    display: none; }

  #login .logo-coming {
    display: none; }

  #login .text-login {
    display: none; }

  .form-login {
    height: 450px;
    margin: 90px auto; }

  #login .margin-zero {
    margin-right: 0;
    margin-left: 0; }

  /*selesai login*/
  /*Mulai Detail Event*/
  #event-detail {
    max-height: 100vh; }

  #event-detail .left {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 0px; }

  #event-detail .left {
    margin-left: 10px;
    width: 70%; }

  #event-detail .right {
    display: none; }

  .event-mg {
    margin: 0px 23%;
    height: 60vh; }

  .event-btn {
    margin-left: 30%; }

  .event-hide-one {
    margin-top: 80px;
    width: 200px;
    display: block; }

  .event-hide-one img {
    width: 200px; }

  /*Selesai Detail Event*/ }
@media screen and (max-width: 480px) {
  #hero-section .right {
    margin-top: 20px; }

  #timeline .content {
    width: 90%; }

  .nav-pills li {
    padding: 20px 10px; }

  .timeline .timeline-item {
    align-items: center;
    flex-direction: column; }
    .timeline .timeline-item .icon {
      order: 1;
      margin: 20px 0; }
    .timeline .timeline-item .date {
      order: 2; }
    .timeline .timeline-item .text {
      text-align: center;
      order: 3; }

  .mini-section {
    height: auto; }

  .grid-container {
    grid-template-columns: repeat(1, 1fr); }
    .grid-container div.wide {
      grid-column: auto; }
    .grid-container div.tall {
      grid-row: auto;
      grid-column: auto; }
    .grid-container div.big {
      grid-row: auto;
      grid-column: auto; }

  .mini-section.regist .content p {
    margin: 1em 1.5em 0; }

  #about .about-text {
    width: 85%; }

  /*mulai login*/
  .wrapLogin {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #f0be1c; }

  #login .container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    max-width: 100%;
    height: auto;
    background-color: #f0be1c;
    border-radius: 0px;
    overflow: hidden; }

  #login .col-md-4 {
    background-color: #253A78; }

  #login .logo-atas {
    width: 100%;
    float: left;
    margin-bottom: 10px; }

  #login .logo-atas img {
    margin-top: 10px;
    margin-left: 10px;
    width: 35px; }

  #login .logo-atas span img {
    display: inline-block;
    width: 160px;
    margin-top: 20px;
    float: right; }

  .form-login {
    height: 430px;
    width: 340px; }

  #login .margin-zero {
    margin-right: 0;
    margin-left: 0; }

  .form-login .row {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    max-height: 80px; }

  .form-login .row img {
    width: 60%;
    margin: auto; }

  .form-login .row h4 {
    margin-left: 20px;
    color: #f0be1c; }

  #login .form-control {
    display: inline-block;
    width: 70%;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid grey; }

  #login .form-group {
    width: 100%;
    padding: 5px 10px; }

  #login .form-group label {
    padding: 0 5px; }

  #login .form-group label span {
    padding-left: 32px; }

  #login .checkbox label {
    margin: 5px 120px; }

  #login .checkbox label input {
    margin-right: 10px; }

  #login .form-login .btn {
    width: 120px;
    height: 40px;
    margin: 5px 110px;
    background-color: #253A78;
    border-radius: 5px;
    color: #fff; }

  #login .forgot {
    width: 70%;
    margin: auto;
    margin-top: 5px; }

  #login .regis {
    width: 85%;
    margin: auto; }

  /*Selesai login*/
  /*mulai detail event*/
  #event-detail .left {
    width: 90%; }

  .event-hide-one img {
    margin-left: 50px;
    width: 200px; }

  .event-mg {
    margin: 0px 10%; }

  .event-mg h1 {
    font-size: 2em; }

  .event-hide-one img {
    margin-left: 50px;
    width: 170px; }

  .left p {
    font-size: 1.2em; }

  /*selesai detail event*/
  .progress-row .col-md-7 {
    order: 2; }
  .progress-row .col-md-5 {
    order: 1; } }
@media screen and (max-width: 326px) {
  #events, #news {
    padding-left: 10px;
    padding-right: 10px; }

  /*mulai login*/
  #login .container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    max-width: 100%;
    height: auto;
    background-color: #f0be1c;
    border-radius: 0px;
    overflow: hidden; }

  #login .logo-atas {
    width: 100%;
    float: left;
    margin-bottom: 10px; }

  #login .logo-atas img {
    margin-top: 15px;
    margin-left: 10px;
    width: 25px; }

  #login .logo-atas span img {
    display: inline-block;
    width: 130px;
    margin-top: 20px;
    float: right; }

  .form-login {
    height: 420px;
    width: 250px; }

  .form-login .row {
    width: 90%;
    margin: auto;
    margin-top: 5px;
    max-height: 80px; }

  .form-login .row img {
    width: 70%;
    margin: auto; }

  .form-login .row h4 {
    margin-left: 10px;
    color: #f0be1c;
    font-size: 1.3em; }

  #login .form-control {
    display: inline-block;
    width: 55%;
    border-radius: 0;
    border: none;
    border-bottom: 1.3px solid grey; }

  #login .form-group {
    width: 100%;
    padding: 5px 10px; }

  #login .form-group label {
    padding: 0 5px; }

  #login .form-group label span {
    padding-left: 28px; }

  #login input:focus {
    border-bottom: 1.5px solid #FEBA33; }

  #login .checkbox label {
    margin: 0px 80px;
    margin-bottom: 5px; }

  #login .checkbox label input {
    margin-right: 10px; }

  #login .form-login .btn {
    width: 100px;
    height: 40px;
    margin: 0px 75px;
    background-color: #253A78;
    border-radius: 5px;
    color: #fff; }

  #login .forgot {
    width: 100%;
    margin: auto;
    margin-top: 10px; }

  .forgot a {
    color: #5870BA; }

  .forgot p {
    margin-bottom: 2px; }

  /*mulai detail event*/
  #event-detail .left {
    width: 90%; }

  .event-hide-one img {
    margin-left: 50px;
    width: 200px; }

  .event-mg {
    margin: 0px 10%; }

  .event-mg h1 {
    font-size: 1.5em; }

  .event-hide-one img {
    margin-left: 50px;
    width: 200px; }

  .left p {
    font-size: 1.1em; }

  .event-btn {
    border: 2px solid #304179;
    margin-left: 50px; }

  .event-logo {
    max-width: 250px;
    margin-bottom: 30px; }

  /*selesai detail event*/ }
@media screen and (min-height: 1024px) and (min-width: 768px) {
  #events, #timeline, #news, #gallery, #about, #sponsors, #contact {
    min-height: auto; }

  .grid-container {
    grid-auto-rows: minmax(150px, auto); }

  #hero-section {
    flex-direction: column; }
    #hero-section .left, #hero-section .right {
      width: 100%; }
    #hero-section .left {
      height: 40vh;
      order: 2; }
    #hero-section .right {
      height: 60vh;
      padding: 50px;
      order: 1; }
      #hero-section .right img {
        width: 220px; }

  .mini-section {
    height: auto; }

  /*Mulai login*/
  .wrapLogin {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0be1c; }

  #login .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: 100px; }

  #login .col-md-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 100%; }

  .form-login {
    height: 80vh;
    width: 90%; }

  .form-login .row {
    width: 70%;
    margin: auto;
    margin-top: 15px;
    max-height: 200px; }

  .form-login .row h4 {
    font-size: 2.7em;
    margin-left: 40px;
    color: #f0be1c; }

  #login .form-group {
    width: 100%;
    padding: 15px 25px; }

  #login .form-group label {
    font-size: 2em;
    padding: 0 25px; }

  #login .form-control {
    width: 60%; }

  #login .form-group label span {
    padding-left: 65px; }

  #login .checkbox label {
    width: 100%;
    margin: 25px 20px;
    font-size: 2em; }

  #login .form-login .btn {
    width: 150px;
    height: 60px;
    margin: 10px 250px;
    font-size: 1.8em; }

  #login .logo-atas img {
    margin-top: 10px;
    margin-left: 10px;
    width: 55px; }

  #login .logo-atas span img {
    display: inline-block;
    width: 250px;
    margin-top: 25px;
    float: right; }

  .cr, .radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: .8em;
    height: .8em;
    float: left;
    margin-right: .5em; }

  #login .forgot {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.8em; }

  #login .regis {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.8em; }

  /*selesai login*/
  /*Mulai Event detail*/
  .event-hide-one img {
    width: 350px; }

  .event-mg h1 {
    font-size: 2.2em; }

  #event-detail .left p {
    margin-bottom: 50px;
    font-size: 1.6em; }

  .event-btn {
    width: 180px;
    height: 50px;
    margin-left: 30%; }

  .event-hide-one {
    margin-top: 50px;
    width: 200px;
    display: block; }

  /*selesai Event detail*/ }
@media screen and (max-width: 768px) {
  #error-img {
    width: 100%; } }
@media screen and (max-width: 768px) {
  #register #vocom-logo-color {
    width: 40% !important; }
  #register .regist-content {
    width: 100% !important; }
  #register .desc-form {
    position: relative !important;
    width: 100% !important;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    border-radius: 25px;
    margin-bottom: 70px; }
    #register .desc-form p {
      direction: ltr !important;
      padding: 50px 25px !important; }
    #register .desc-form .desc-logo {
      width: 30% !important; } }
@media screen and (max-width: 768px) and (max-width: 480px) {
  body {
    font-size: 0.8em; }

  #vocom-logo-color {
    width: 75% !important; } }
@media screen and (max-width: 321px) {
  #header .navbar-expand-lg {
    justify-content: center; } }
@media screen and (max-width: 769px) {
  h1, #hero-section .left > h1 {
    font-size: 1.8em; }

  .contact-item .address {
    font-size: 90%; }

  .center-section p {
    font-size: 0.8em; } }
@media screen and (max-width: 480px) {
  h1, #hero-section .left > h1 {
    font-size: 1.3em; }

  .small {
    font-size: 70%; }

  table {
    font-size: 90%;
    line-height: 1.5em; }

  .bigbox button {
    font-size: 90%; } }
@media screen and (min-height: 1024px) and (min-width: 768px) {
  .normal {
    font-size: 0.9em; }

  #hero-section.hero-not-home p.smaller, .center-section p {
    font-size: 1em; } }
@media screen and (min-height: 1366px) and (min-width: 1024px) {
  #hero-section .right span {
    font-size: 1.5em; }

  .normal {
    font-size: 1em; }

  #hero-section.hero-not-home p.smaller, .center-section p {
    font-size: 1.2em; } }

/*# sourceMappingURL=vocom-main-style.css.map */